.gradle
build
local.properties
out/
.idea/workspace.xml
.idea/caches
.idea/uiDesigner.xml
.idea/libraries
.idea/android-environments.iml
.idea/assetWizardSettings.xml
.idea/modules/example.iml
.idea/misc.xml
.idea/modules.xml
.idea/gradle.xml
android-environments.iml
example/build
example/example.iml
out
